# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database files
*.db
*.sqlite3

# macOS
.DS_Store

# Egg info
*.egg-info/
__pycache__/
*.pyc
